<!-- Devkan1 tag - begin -->
<style>
.mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    font-size: 10pt;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    box-shadow: 3px 3px 20px #2b4d77;
}

.mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    border-radius: 5px;
    background-color: #2196F3;
    font-size: 10pt;
    color: #fff;
}
</style>

<div class="mydiv">
  <div class="mydivheader">Moer kewl stuph</div>
  <span style="font-size: 8pt;"> by</span><br/>
  <img src="/static/devkan1.png" alt="Devkan1">
</div>
<!-- Devkan1 tag - end -->
