<table align="center">
<tr><td colspan="3" align="center" width="*" style="color:red; font-weight:900;">
[ This branch of S.A.R.A.H. is no longer being supported. Please backup any custom content you have created, ]<br>
[ go to <a style="color: #f44336" href="https://rpi-ha.com/download/">https://rpi-ha.com/download/</a>, download and install the latest image 
to stay up with the latest development. ]<br>
</td></tr>
<tr><td width="25%" align="center"><img src="/static/logo.png"></td>
<td width="*" align="center">
<span class="headertext"><nobr><em>S.A.R.A.H. Command Center</em></nobr></span><br/>
<span class="headersubtext"><nobr>The Simple Application for Realizing your Automated Home</nobr><br/>
by seeLive&nbsp;&nbsp;-&nbsp;&nbsp;{{ver}}</span><br/>
</td>
<td align="left" width="25%"></td>
</tr>
</table>
