<!DOCTYPE html>
<html>
  <head>
  <title>S.A.R.A.H. Command Center - Home Wizard</title>
{% include 'head.html' %}
<script type="text/javascript">

window.addEventListener("beforeunload", function (e) {
    //console.log(aFloors);
    //sleep(1000);

    if (gIsLoaded) {
        // Cancel the event
        e.preventDefault();
        // Chrome requires returnValue to be set
        e.returnValue = '';
    }
});


var home = {{home|safe}};
var Homes = {{Homes|safe}};
var Floors = {{Floors|safe}};
var Rooms = {{Rooms|safe}};
var Items = {{Items|safe}};
var Homeitems = {{Homeitems|safe}};
var Things = {{Things|safe}};
var Channels = {{Channels|safe}};

function startupPage() {
	var container = document.getElementById("contheader");

	var input = document.createElement("input");
	input.type = "text";
	input.name = "newHomeName";
	input.id = "newHomeName";
	input.value = "";
	input.placeholder = "Enter new home name";
	input.classList.add("tablebutton");
	container.appendChild(input);

	var input1 = document.createElement("input");
	input1.type = "submit";
	input1.name = "saveForm";
	input.id = "saveForm";
	input1.onclick = function() { gIsLoaded = false;return checkTheForm('save'); };
	input1.value = "save";
	input1.classList.add("tablebutton");
	container.appendChild(input1);

	container.appendChild(document.createTextNode("    "));

	var sel = document.createElement("select");
	sel.name = "homes";
	sel.id = "homes";
	sel.classList.add("tablebutton");
	container.appendChild(sel);
	var opt = document.createElement("option");
	opt.innerHTML = "--- select ---";
	opt.value = "";
	sel.appendChild(opt);
	for(var i = 0; i < Homes.length; i++) {
		opt = document.createElement("option");
		opt.innerHTML = Homes[i][1];
		opt.value = Homes[i][0];
		sel.appendChild(opt);
	}

	var input2 = document.createElement("input");
	input2.type = "submit";
	input2.name = "loadForm";
	input2.onclick = function() { return checkTheForm('load'); };
	input2.value = "load";
	input2.classList.add("tablebutton");
	container.appendChild(input2);
	
	if( Homeitems.length > 0 ) {
	    loadHomeModel();
	}
	container.appendChild(document.createTextNode("    Generate config files"));

	var input3 = document.createElement("input");
	input3.type = "checkbox";
	input3.name = "genFiles";
	input3.value = "yes";
	input3.checked = true;
	input3.classList.add("tablebutton");
	container.appendChild(input3);

	container.appendChild(document.createTextNode("    Install config files"));

	var input4 = document.createElement("input");
	input4.type = "checkbox";
	input4.name = "installFiles";
	input4.value = "yes";
	input4.classList.add("tablebutton");
	container.appendChild(input4);
}
</script>

 </head>

<body onload="startupPage();">
<form name="theForm" action="/homewiz" method="post" >
<input hidden type="text" name="pageis" id="pageis" value="2"/>
<table class="table">
<tr align="center">
  <td  align="center" colspan="6" class="tableheader">
{% include 'header.html' %}
  </td>
</tr>
<tr>
  <td class="tableheader" colspan="6">
{% include 'navselect.html' %}
{% include 'nav.html' %}
  </td>
</tr>
<tr>
  <td id="descheader" class="tableheadercell" colspan="6">
  <table align="center">
  <tr align="left"><td>INSTRUCTIONS: (for more info <a target="_blank" 
    href="https://rpi-ha.com/the-sarah-command-center-scc-v1-x-x/">click here</a>)<br/></td></tr>
  <tr align="left"><td>
  Load one of the built-in templates to start or create one from scratch following the directions below.<br/>
  1) Add floors first, from Attic to Basement. Add the Garden last, then any other structures as needed.<br/>
  2) Next, add one room with one item to each floor using the '--Dummy--' item as a place holder.<br/>
  3) After you have saved this template, you can reload it and add your actual items as you purchase them.<br/>
  </td></tr>
  </table>
  </td>
</tr>
<tr>
  <td class="tablefootercell" colspan="6">

	<div id="contheader">
	</div>
	<br/>

	<input class="tablebutton" type="button" name="addFloor" value="add floor" onClick="addNewFloor();">
	<br/>

	<div id="container" class="wizdiv">
	</div>

	<br/>
	<input class="tablebutton" type="button" name="addFloor" value="add floor" onClick="addNewFloor();">

  </td>
</tr>
<tr>
<td class="tableheader" colspan="6">
  <input class="tablebutton" type="submit" name="saveForm" value="save" onClick="gIsLoaded = false;return checkTheForm('save');">
  <input class="tablebutton" type="submit" name="deleteForm" value="delete" onClick="return checkTheForm('delete');">
  <input class="tablebutton" type="submit" name="resetForm" value="reset" onClick="return checkTheForm('reset');">
  
</td>
</tr>
<tr>
  <td style="text-align: center;" class="tablefootercell" colspan="6">
    <textarea class="tablebutton" id="msgbox" rows="4" cols="107">{{resp}}</textarea>
  </td>
</tr>
</table>
</form>

{% include 'devkan1.html' %}
  </body>
</html>