<div align="center">
<input hidden class="navappselector" id="appselector1" type="button" onclick="window.location.href = '/';" value="app1">
<input hidden class="navappselector" id="appselector2" type="button" onclick="window.location.href = '/app2';" value="app2">
</div><b-r/>
<script type="text/javascript">
  n = document.getElementById('pageis').value;
  if (n < 100) {
    s = 1;
  } else if (n > 100 && n < 200) {
    s = 2;
  }
  document.getElementById('appselector'+s).style.pointerEvents = 'none';
  document.getElementById('appselector'+s).style.color = 'black';
  document.getElementById('appselector'+s).disabled = true;
  document.getElementById('appselector'+s).style.opacity = 0.6;
  document.getElementById('appselector'+s).style.boxShadow='0px 0px 0px #2b4d77';
</script>
